<main class="signin-page">
  <div class="signin">
    <h2 class="signin__title">ブランドファンディングはあなたのやりたい事を<br>応援します。仲間と一緒にアイディアをカタチに</h2>
    <div class="signin-form">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <%= f.email_field :email, class: "signin-form__input", placeholder: "メールアドレス" %><br>
        <%= f.password_field :password, class: "signin-form__input", placeholder: "パスワード" %><br>
        <%= f.submit "ログイン", class: "signin-form__button" %>
      <% end %>
    </div>
  </div>
</main>