  <ul class="row col-8 offset-2 nav nav-tabs new-idea-page__menu" role="tablist">
    <li class="nav-item new-idea-page__menu__list">
      <a class="nav-link new-idea-page__menu__link active" id="ideaImage-tab" data-toggle="tab" href="#ideaImage" role="tab" aria-controls="ideaImage" aria-selected="true">完成品イメージ</a>
    </li>
    <li class="nav-item new-idea-page__menu__list-2">
      <a class="nav-link new-idea-page__menu__link" id="ideaUser-tab" data-toggle="tab" href="#ideaUser" role="tab" aria-controls="ideaUser" aria-selected="false">使う人</a>
    </li>
    <li class="nav-item new-idea-page__menu__list-2">
      <a class="nav-link new-idea-page__menu__link" id="ideaCategory-tab" data-toggle="tab" href="#ideaCategory" role="tab" aria-controls="ideaCategory" aria-selected="false">カテゴリ</a>
    </li>
    <li class="nav-item new-idea-page__menu__list-2">
      <a class="nav-link new-idea-page__menu__link" id="ideaCategoryDetails-tab" data-toggle="tab" href="#ideaCategoryDetails" role="tab" aria-controls="ideaCategoryDetails" aria-selected="false">カテゴリ詳細</a>
    </li>
    <li class="nav-item new-idea-page__menu__list-2">
      <a class="nav-link new-idea-page__menu__link" id="ideaMaterial-tab" data-toggle="tab" href="#ideaMaterial" role="tab" aria-controls="ideaMaterial" aria-selected="false">素材</a>
    </li>
    <li class="nav-item new-idea-page__menu__list-2">
      <a class="nav-link new-idea-page__menu__link" id="ideaDetails-tab" data-toggle="tab" href="#ideaDetails" role="tab" aria-controls="ideaDetails" aria-selected="false">アイディア詳細</a>
    </li>
  </ul>