<ul class="row col-11 col-sm-10 col-xl-9 offset-2 offset-sm-1 offset-xl-2 nav nav-tabs new-idea-page__menu" id="ideaTabWrap1" role="tablist">
  <li class="nav-item new-idea-page__menu__list" id="ideaTabWrap1">
    <a class="nav-link new-idea-page__menu__link active ideaTab1" id="ideaImage-tab ideaTab1" data-toggle="tab" href="#ideaImage" role="tab" aria-controls="ideaImage" aria-selected="true">完成品イメージ</a>
  </li>
  <li class="nav-item new-idea-page__menu__list-2" id="ideaTabWrap2">
    <a class="nav-link new-idea-page__menu__link ideaTab2" id="ideaUser-tab" data-toggle="tab" href="#ideaUser" role="tab" aria-controls="ideaUser" aria-selected="false">使う人</a>
  </li>
  <li class="nav-item new-idea-page__menu__list-2" id="ideaTabWrap3">
    <a class="nav-link new-idea-page__menu__link ideaTab3" id="ideaCategory-tab" data-toggle="tab" href="#ideaCategory" role="tab" aria-controls="ideaCategory" aria-selected="false">カテゴリ</a>
  </li>
  <li class="nav-item new-idea-page__menu__list-2" id="ideaTabWrap4">
    <a class="nav-link new-idea-page__menu__link ideaTab4" id="ideaCategoryDetails-tab" data-toggle="tab" href="#ideaCategoryDetails" role="tab" aria-controls="ideaCategoryDetails" aria-selected="false">カテゴリ詳細</a>
  </li>
  <li class="nav-item new-idea-page__menu__list-2" id="ideaTabWrap5">
    <a class="nav-link new-idea-page__menu__link ideaTab5" id="ideaMaterial-tab" data-toggle="tab" href="#ideaMaterial" role="tab" aria-controls="ideaMaterial" aria-selected="false">素材</a>
  </li>
  <li class="nav-item new-idea-page__menu__list-2" id="ideaTabWrap6">
    <a class="nav-link new-idea-page__menu__link ideaTab6" id="ideaDetails-tab" data-toggle="tab" href="#ideaDetails" role="tab" aria-controls="ideaDetails" aria-selected="false">アイディア詳細</a>
  </li>
</ul>