<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>link</th>
    </tr>
  </thead>
  <% @relationships.each do |f| %>
    <tbody>
      <tr>
        <td><%= image_tag f.followed.image.to_s, size:'70x70' %></td>
        <td><%= f.followed.name %></td>
        <td><%= link_to 'オーナーページへ', user_path(f.followed.id) %></td>
      </tr>
    </tbody>
  <% end %>
</table>