<%# <body style="padding-top:70px;" data-spy="scroll" data-target="#Navbar">
  <nav class="row col-8 navbar navbar-expand-lg navbar-light new-project-page__menu">
    <a class="navbar-brand" href="#"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav nav-pills flex-column flex-lg-row">
        <li class="new-project-page__menu__list"><a class="nav-link new-project-page__menu__link active" href="#value">目標金額</a></li>
        <li class="new-project-page__menu__list-2"><a class="nav-link new-project-page__menu__link" href="#project">概要</a></li>
        <li class="new-project-page__menu__list-2"><a class="nav-link new-project-page__menu__link" href="#image">ビジュアル</a></li>
        <li class="new-project-page__menu__list-2"><a class="nav-link new-project-page__menu__link" href="#about">本文</a></li>
        <li class="new-project-page__menu__list-2"><a class="nav-link new-project-page__menu__link" href="#idea">アイディア</a></li>
        <li class="new-project-page__menu__list-2"><a class="nav-link new-project-page__menu__link" href="#report">活動報告</a></li>
      </ul>
    </div>
  </nav>
</body> %>