<nav class="">
  <ul class="col-10 col-md-12 col-lg-9 nav nav-tabs new-project-page__menu" role="tablist">
    <li class="col-2 nav-item new-project-page__menu__list">
      <a class="nav-link new-project-page__menu__link active projectTab1" id="value-tab" data-toggle="tab" href="#value" role="tab" aria-controls="value" aria-selected="true">目標金額</a>
    </li>
    <li class="col-2 nav-item new-project-page__menu__list-2">
      <a class="nav-link new-project-page__menu__link projectTab2" id="project-tab" data-toggle="tab" href="#project" role="tab" aria-controls="project" aria-selected="false">概要</a>
    </li>
    <li class="col-2 nav-item new-project-page__menu__list-2">
      <a class="nav-link new-project-page__menu__link projectTab3" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">ビジュアル</a>
    </li>
    <li class="col-2 nav-item new-project-page__menu__list-2">
      <a class="nav-link new-project-page__menu__link projectTab4" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">本文</a>
    </li>
    <li class="col-2 nav-item new-project-page__menu__list-2">
      <a class="nav-link new-project-page__menu__link projectTab5" id="return-tab" data-toggle="tab" href="#return" role="tab" aria-controls="return" aria-selected="false">リターン</a>
    </li>
    <li class="col-2 nav-item new-project-page__menu__list-2">
      <a class="nav-link new-project-page__menu__link projectTab6" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">活動報告</a>
    </li>
  </ul>
</div>