  <ul class="row col-11 col-lg-6 nav nav-tabs show-menu" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show-menu__link" id="showHome-tab" data-toggle="tab" href="#showHome" role="tab" aria-controls="showHome" aria-selected="true"><%= svg("home-solid.svg" ,class: "show-menu__icon1") %>ホーム</a>
    </li>
    <li class="nav-item">
      <a class="nav-link show-menu__link" id="showReport-tab" data-toggle="tab" href="#showReport" role="tab" aria-controls="showReport" aria-selected="false"><%= svg("bullhorn-solid.svg" ,class: "show-menu__icon2") %>活動報告</a>
    </li>
    <li class="nav-item">
      <a class="nav-link show-menu__link" id="showPatron-tab" data-toggle="tab" href="#showPatron" role="tab" aria-controls="showPatron" aria-selected="false"><%= svg("users-solid.svg" ,class: "show-menu__icon3") %>パトロン</a>
    </li>
    <li class="nav-item">
      <a class="nav-link show-menu__link" id="showComment-tab" data-toggle="tab" href="#showComment" role="tab" aria-controls="showComment" aria-selected="false"><%= svg("comment-solid.svg" ,class: "show-menu__icon4") %>コメント</a>
    </li>
  </ul>