<%= form_with(model: [user, user_comment], url: user_user_comments_path(user_id: @user.id) ) do |form| %>
  <div class="field mb-3">
    <%= form.text_area :content, class: "col-lg-12 btn show-idea-comment__button" %>
  </div>
  <%= hidden_field :comment_user_id, value: current_user.id %>
  <div class="actions">
    <%= form.submit "コメントする", class: "col-lg-12 btn btn-warning show-idea-comment__button" %>
  </div>
<% end %>
