<div class="container">
  <div class="row">
    <div style="width: 300px; height: 300px;" >
      <%= image_tag 'team.jpg' %>
    </div>
    <div>
      <h3>チーム：ノアコネクト（NoIdea(アイデア) x NoArt(技) をconnect(繋ぐ)）</h3>
      <p>DEMODAY予選突破を機に７月期受講生だけでチームを発足。<br>
        井関　旭(前右)：チーム発起人。起業経験を生かしたビジネスアイディアで優勝を目指す。<br>
        板野 侑真(前左)：Railsを学ぶ中でフロントに惹かれ独習。バックもフロントもこなせるマルチエンジニア。<br>
        荒牧 拓実(後左)：７月期最速でカリキュラムを終えた実力者。未経験から１ヶ月でRailsをマスター。<br>
        平井 裕二(後中)：独自の学習スタイルでRailsを深く理解する実力者。チーム開発でも欠かせない中心的存在。<br>
        堀川 設男(後右)：Railsだけでなくその周辺知識を網羅。圧倒的な知識量でwebサービスの方向性を導く。</p>
    </div>
  </div>
</div>

