<div class="container">
  <div class="row">
    <div style="width: 300px; height: 300px;">
      <%= image_tag 'team.jpg' %>
    </div>
    <div class="card" style="width: 30rem; height: 20rem;">
      <div class="card-body">
        <h3 class="card-title"><strong>井関　旭(前右)</strong></h3>
        <p class="card-text">チーム発起人。起業経験を生かしたビジネスアイディアで優勝を目指す。</p>
        <a href="https://github.com/Aki130238" target=”_blank class="btn btn-outline-primary btn-lg">Github</a>
        <a href="https://www.wantedly.com/users/108158760" target=”_blank class="btn btn-outline-primary btn-lg">Wantedly</a>
      </div>
    </div>
    <div class="card" style="width: 30rem; height: 20rem;">
      <div class="card-body">
        <h3 class="card-title"><strong>板野 侑真(前左)</strong></h3>
        <p class="card-text">Railsを学ぶ中でフロントに惹かれバックもフロントもこなす若手マルチエンジニア。</p>
        <a href="https://github.com/yuma-itano" target=”_blank class="btn btn-outline-primary btn-lg">Github</a>
        <a href="https://www.wantedly.com/users/115570591" target=”_blank class="btn btn-outline-primary btn-lg">Wantedly</a>
        <a href="https://nizilog.com" target=”_blank class="btn btn-outline-primary btn-lg">Blog</a>
      </div>
    </div>
    <div class="card" style="width: 30rem; height: 20rem;">
      <div class="card-body">
        <h3 class="card-title"><strong>荒牧 拓実(後左)</strong></h3>
        <p class="card-text">７月期最速でカリキュラムを終えた実力者。未経験から１ヶ月でRailsを習得。</p>
        <a href="https://github.com/TakumiAr" target=”_blank class="btn btn-outline-primary btn-lg">Github</a>
        <a href="https://www.wantedly.com/users/112543148" target=”_blank class="btn btn-outline-primary btn-lg">Wantedly</a>
      </div>
    </div>
    <div class="card" style="width: 30rem; height: 20rem;">
      <div class="card-body">
        <h3 class="card-title"><strong>平井 裕二(後中)</strong></h3>
        <p class="card-text">独自の学習スタイルでRailsを深く理解する実力者。チーム開発でも欠かせない中心的存在。</p>
        <a href="https://github.com/yujihirai" target=”_blank class="btn btn-outline-primary btn-lg">Github</a>
        <a href="https://www.wantedly.com/users/112542992" target=”_blank class="btn btn-outline-primary btn-lg">Wantedly</a>
        <a href="https://twitter.com/hyuji04" target=”_blank class="btn btn-outline-primary btn-lg">Twitter</a>
        <a href="https://scrapbox.io/hyuji-blog/" target=”_blank class="btn btn-outline-primary btn-lg">Blog</a>
      </div>
    </div>
    <div class="card" style="width: 30rem; height: 20rem;">
      <div class="card-body">
        <h3 class="card-title"><strong>堀川 設男(後右)</strong></h3>
        <p class="card-text">Railsだけでなくその周辺知識も網羅。圧倒的な知識量でwebサービスの方向性を導く。</p>
        <a href="https://github.com/ralralph" target=”_blank class="btn btn-outline-primary btn-lg">Github</a>
        <a href="https://www.wantedly.com/users/18422478" target=”_blank class="btn btn-outline-primary btn-lg">Wantedly</a>
      </div>
    </div>
  </div>
</div>
