.edit-artisan-page {
  &__title__wrap {
    margin-bottom: 2.5rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid $bordercolor-1;
  }
  &__image {
    width: 1.8rem;
    margin: 1rem 0 0 1.5rem;
    color: $color-1;
  }
  &__title {
    margin: .5rem 0 0 1rem;
    color: $color-1;
    font-weight: bold;
  }
  .edit-artisan-form {
    &__privacy__wrap {
      margin: 8rem auto 3rem auto;
      color: $color-1;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }
    &__terms {
      text-decoration: none;
    }
    &__terms:hover {
      @extend .hover;
      color: $hovercolor-terms;
    }
    &__privacy {
      text-decoration: none;
    }
    &__privacy:hover {
      @extend .hover;
      color: $hovercolor-privacy;
    }
    &__privacy__content {
      display: inline-block;
      vertical-align: middle;
    }
    &__button__wrap {
      margin: 0 auto 8rem auto;
    }
    &__button {
      padding: 1.5rem 0rem;
      border: 1px solid black;
      color: $color-1;
      font-weight: bold;
      font-size: 2rem;
    }
    &__button:hover {
      @extend .hover;
      background: $hovercolor-submit;
      color: white;
    }
    &__input_direction {
      @include mq(md) {
        display: flex;
      }
    }
    &__title_show {
      @include mq(md) {
        display: none;
      }
    }
    &__title_none {
      display: none;
      @include mq(md) {
        display: block;
        margin: auto 0;
      }
    }
    &__title1 {
      margin: auto 0;
      background: $bgcolor-3;
      color: white;
      font-size: 1.4rem;
      text-align: center;
    }
    &__title2 {
      margin: auto 0;
      color: $color-1;
      font-size: 1.4rem;
    }
    &__title3 {
      display: none;
      @include mq(md) {
        display: block;
        margin: auto 0;
        color: $color-1;
        font-size: 1.4rem;
      }
    }
    &__title4 {
      display: none;
      @include mq(md) {
        display: block;
        margin: auto 0;
        padding: 0 .8rem;
        background: $bgcolor-3;
        color: white;
        font-size: 1.4rem;
        text-align: center;
      }
    }
    &__title4_sm {
      margin: auto 0;
      padding: 0 .8rem;
      background: $bgcolor-3;
      color: white;
      font-size: 1.4rem;
      text-align: center;
      @include mq(md) {
        display: none;
      }
    }
    &__title4_sm-none {
      display: none;
      @include mq(md) {
        margin: auto 0;
        padding: 0 .8rem;
        background: $bgcolor-3;
        color: white;
        font-size: 1.4rem;
        text-align: center;
      }
    }
    &__title_hide {
      margin: auto 0;
      padding: 0 .8rem;
      background: white;
      color: white;
      font-size: 1.4rem;
      text-align: center;
    }
    &__input__title {
      margin: auto 0 auto 8rem;
      @include mq(md) {
        margin: auto 0;
      }
      color: $color-1;
      font-weight: bold;
      font-size: 2rem;
      text-align: left;
      @include mq(md) {
        text-align: right;
      }
    }
    &__input__title_phone {
      margin: 1rem 0 0 6rem;
      @include mq(md) {
        margin: auto 0;
      }
      color: $color-1;
      font-weight: bold;
      font-size: 2rem;
      text-align: left;
      @include mq(md) {
        text-align: right;
      }
    }
    &__profile {
      margin: 1.5rem 0 5rem 0;
      &__wrap {
        margin-bottom: 2rem;
      }
      &__input__wrap {
        margin: .5rem auto 1rem auto;
        @include mq(md) {
          margin: auto 0;
        }
      }
      &__input {
        padding: .5rem 1rem;
        font-size: 1.6rem;
      }
    }
    &__artisan {
      &__wrap {
        margin-bottom: 1.5rem;
      }
      &__wrap3 {
        margin-top: 3rem;
      }
      &__input {
        &__wrap {
          margin-top: 1.1rem;
        }
        &__wrap_f {
          margin-top: 1.1rem;
          display: flex;
        }
        &__wrap2 {
          margin: 1.1rem 0 0 8.3rem;
        }
        &__wrap3 {
          margin: 1.1rem 0 0 4rem;
        }
        &__wrap4 {
          margin-top: 5rem;
        }
      }
      &__genre {
        &-list__wrap {
          margin-top: 5rem;
        }
        &__content {
          float: left;
        }
      }
      &__item {
        &__title {
          margin: auto 0 auto 8rem;
          @include mq(md) {
            margin: 5rem 0 0 0;
          }
          color: $color-1;
          font-weight: bold;
          font-size: 2rem;
          text-align: left;
          @include mq(md) {
            text-align: right;
          }
        }
        &__title2 {
          display: none;
          @include mq(md) {
            display: block;
            margin: 5.5rem 0 auto 0;
            padding: 0 .8rem;
            background: $bgcolor-3;
            color: white;
            font-size: 1.4rem;
            text-align: center;
          }
        }
        &__title2_sm {
          margin: auto 0;
          padding: 0 .8rem;
          background: $bgcolor-3;
          color: white;
          font-size: 1.4rem;
          text-align: center;
          @include mq(md) {
            display: none;
          }
        }
        &-list__wrap {
          margin-top: 5rem;
        }
      }
      &__facillity-list__wrap {
        margin-top: 5rem;
      }
      &__input {
        padding: .5rem 1rem;
        font-size: 1.6rem;
      }
      &__input2 {
        padding: .5rem 1rem;
        background: $bgcolor-5;
        font-size: 1.6rem;
      }
      &__input3 {
        padding: 1rem 1rem 15rem 1rem;
        font-size: 1.6rem;
      }
      &__title {
        margin: auto 0 auto 5rem;
        color: $color-1;
        &__wrap {
          @include mq(md) {
            display: flex;
          }
        }
      }
      &__title2 {
        margin: auto 0 auto 10rem;
        color: $color-1;
      }
      &__content {
        margin: auto 0 auto 1rem;
        color: $color-1;
      }
      &__skill_bg {
        margin: 1rem 0 0 1.5rem;
        padding: 1.5rem;
        background: $bgcolor-skill;
        color: $color-skill;
      }
      &__button {
        @extend .sign-button;
        margin-top: auto;
        margin-bottom: auto;
        padding: .8rem 0;
        background: $btncolor-2;
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
      }
      &__button:hover {
        @extend .hover;
        background: $hovercolor-artisanbtn;
      }
      &__image {
        width: 1.6rem;
        color: white;
        vertical-align: -.4rem;
      }
      &__radio__wrap {
        margin-top: 4.8rem;
      }
      &__radio__input {
        margin: .5rem 0 0 3rem;
      }
      &__radio__content {
        margin-top: .8rem;
        cursor: pointer;
      }
    }
  }
}

.artisans-page {
  &__header {
    margin: 0 auto -1rem auto;
    padding: 1.5rem 0;
    background: $bgcolor-artisan;
  }
  &__title {
    font-weight: bold;
    text-align: center;
  }
  &__header2 {
    margin: 0 auto;
    background: $bgcolor-project2;
  }
  .artisan-list {
    margin: 1.5rem auto;
    @include mq(lg) {
      margin: 1.5rem;
    }
    border: 1px solid black;
    &_void {
      margin-top: 2rem;
      @include mq(md) {
        margin-top: 3rem;
      }
    }
    &__wrap {
      margin: 0 auto;
      @include mq(lg) {
        margin: 0 0 0 auto;
      }
      @include mq(xl) {
        margin-right: 3rem;
      }
    }
    &__link {
      color: $color-1;
      text-decoration: none;
    }
    &__image {
      margin: 2rem auto -6rem  auto;
      padding: 7rem 0;
      border: 1px solid black;
      text-align: center;
    }
    &__image2 {
      margin: 0 auto 1rem auto;
      padding: 3rem 0;
      border: 1px solid black;
      border-radius: 50%;
      text-align: center;
    }
    &__year {
      color: $color-1;
      text-align: center;
    }
    &__name {
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
    }
    &__pr {

    }
    &__bar {
      padding: 1.5rem 0;
      background: $bgcolor-artisan;
    }
  }
}

.show-artisan-page {
  &__title {
    margin-bottom: -.15rem;
    padding: 1rem 0;
    background: $bgcolor-artisan2;
    font-weight: bold;
    text-align: center;
  }
  .show-artisan1 {
    margin: 0 auto 3rem auto;
    background: $bgcolor-artisan3;
    &__wrap {
      @include mq(xl) {
        margin-left: -3rem;
      }
    }
    &__image {
      margin-top: -18rem;
      padding: 11rem 0;
      &__wrap {
        margin: 2.5rem auto 0 auto;
        @include mq(md) {
          margin: 2.5rem auto;
        }
        @include mq(lg) {
          margin: 2.5rem 0 2.5rem auto;
        }
        padding: 18rem 0;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        text-align: center;
      }
      &__decoration {
        display: inline-block;
        position: absolute;
        top: -3px;
        left: 25px;
        z-index: 2;
        width: 50px;
        margin: 0;
        padding: 28px 0;
        border-radius: 2px 0 0 0;
        background: $bgcolor-decoration;
        color: white;
        font-size: 20px;
        text-align: center;
      }
      &__decoration__content {
        font-size: 25px;
        font-weight: bold;
      }
      &__decoration:before {
      position: absolute;
      content: '経歴';
      top: 10px;
      left: 11px;
      border: none;
      border-bottom: solid 6px $bgcolor-decoration;
      border-right: solid 6px transparent;
      font-size: 1.4rem;
      }
      &__decoration:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid $bgcolor-decoration;
        border-right: 25px solid $bgcolor-decoration;
        border-bottom: 15px solid transparent;
      }
      &__decoration2 {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        background: $bgcolor-decoration2;
        color: white;
        text-align: right;
      }
    }
    &__title {
      @include mq(md) {
        text-align: right;
      }
    }
    &__content_sm {
      display: none;
      @include mq(lg) {
        display: block;
      }
      color: $color-1;
      font-size: 1.5rem;
    }
    &__content_sm2 {
      color: $color-1;
      font-size: 1.5rem;
      @include mq(lg) {
        display: none;
      }
    }
    &__content {
      color: $color-1;
      font-size: 1.5rem;
    }
    &__content2 {
      margin-top: -.5rem;
      font-size: 2.3rem;
    }
    &__content3 {
      float: left;
      margin-right: 2rem;
      padding: .3rem 1rem;
      border-radius: 4px;
      background: $bgcolor-artisan4;
      color: white;
      text-align: center;
    }
    &__content4 {
      margin: -.3rem 2rem 0 0;
      background: $bgcolor-skill2;
      color: $color-1;
    }
    &__content4_sm {
      margin-bottom: 1.5rem;
    }
    &__content5 {
      float: left;
      font-weight: bold;
    }
    &__content6 {
      padding-bottom: 4rem;
      border: 3px solid $bgcolor-skill2;
      background: white;
    }
    &__content__wrap {
      margin-top: 3rem;
    }
    &__content__wrap2 {
      margin-bottom: 3rem;
    }
    &__content__wrap3 {
      margin-bottom: 2rem;
    }
  }
  .show-artisan2 {
    margin: 0 auto;
    &__title {
      margin-top: 2rem;
      @include mq(md) {
        text-align: right;
      }
    }
    &__content {
      margin: 0 auto 3rem auto;
      @include mq(md) {
        margin: 0 0 3rem 0;
      }
      @include mq(lg) {
        margin: 0 0 3rem 0;
      }
      padding: 1rem 1rem 30rem 1rem;
      border: 2px solid $bordercolor-1;
    }
  }
}