$bgcolor-1: #FFFEED;
$bgcolor-2: #F8F9FA;
$bgcolor-3: #D61935;
$bgcolor-4: #F7F7F7;
$bgcolor-5: #EEEEEE;
$bgcolor-6: #F6FAFD;
$bgcolor-artisan: #BAFFFB;
$bgcolor-artisan2: #F1F1F1;
$bgcolor-artisan3: #EBFCFF;
$bgcolor-artisan4: #00E2FF;
$bgcolor-artisan5: #f9ffff;
$bgcolor-project: #1DBE00;
$bgcolor-project2: #F6F8FA;
$bgcolor-project3: #E3E4E8;
$bgcolor-project4: #efffef;
$bgcolor-project5: #f9fff9;
$bgcolor-idea: #FFD800;
$bgcolor-idea2: #FFFFEA;
$bgcolor-skill: #D8EEF7;
$bgcolor-skill2: #F4E000;
$bgcolor-user: #f9fcff;
$bgcolor-decoration: #66C5CD;
$bgcolor-decoration2: #DF5462;
$bgcolor-footer: #606060;
$color-1: #6C6C6C;
$color-main: #FE38C3;
$color-error: #e73562;
$color-skill: #4C829F;
$color-twitter: #1B9CEB;
$color-instagram: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
$color-facebook: #3C5A99;
$color-line: #00B900;
$color-google: #DD5144;
$btncolor-1: #C19A88;
$btncolor-2: #44B5AE;
$btncolor-3: #AF7128;
$btncolor-comment: #E2E590;
$bordercolor-1: #E7E7E7;
$hovercolor-top1: #ffffc1;
$hovercolor-top2: #c1ffc1;
$hovercolor-top3: #c1ffff;
$hovercolor-main: #e3adc1;
$hovercolor-sign: #e73562;
$hovercolor-sign2: #f7b977;
$hovercolor-profile: #f3a68c;
$hovercolor-terms: #f7b977;
$hovercolor-privacy: #f7b977;
$hovercolor-management: #f7b977;
$hovercolor-sponsor: #fcc800;
$hovercolor-favorite: #fcc800;
$hovercolor-follow: #fcc800;
$hovercolor-submit: orange;
$hovercolor-sort: #fcc800;
$hovercolor-idea: #fcc800;
$hovercolor-comment: #fcc800;
$hovercolor-delete: #d70035;
$hovercolor-artisanbtn: #00885a;
$hovercolor-artisan: #c1ffff;
$hovercolor-return: #fcc800;
$hovercolor-user: #fcc800;
$hovercolor-project: #1DBE00;
$hovercolor-aid: #fcc800;

$top-opacity: 0.9;

$bgcolor-project6: #f9fff9;

$breakpoints: (
  's': 'screen and (max-width: 575px)',
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;
}

.center {
  display: inline-block;
  text-align: center;
}

.sign-form {
  margin: 2rem 0;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  font-size: 1.8rem;
}

.sign-button {
  margin-top: 1rem;
  padding: .8rem;
  border-radius: 8px;
  background: $btncolor-1;
  color: white;
  font-size: 1.8rem;
}

.button {
  border: 1px solid black;
  background: white;
  color: $color-1;
}

.hover {
  transition: 0.3s ease-in-out;
}

.p0 {
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
  body {
    height: 100%;
    font-size: 1.6rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.main-wrap {
  flex: 1;
}

.flash {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background: $color-main;
  color: white;
  text-align: center;
}

.header {
  // position: sticky;
  // top: 0;
  // z-index: 99999;
  @include mq(s) {
    padding: 1rem 0 .5rem 3rem;
  }
  padding: 2.5rem 0 2rem 3rem;
  border-top: 3px solid $color-main;
  &__title {
    font-size: 2.8rem;
    @include mq(md) {
      font-size: 3rem;
    }
    color: $color-1;
    font-family: 'Playfair Display', serif;
    // text-shadow: 1px 1px 0 $color-main, -1px 1px 0 $color-main, 1px -1px 0 $color-main, -1px -1px 0 $color-main;
  }
  &__title:hover {
    @extend .hover;
    color: $hovercolor-main;
    text-decoration: none;
  }
  &__icon {
    vertical-align: .2rem;
  }
  .navbar {
    margin-right: 2rem;
    .navbar-toggler {
      font-size: 2rem;
      outline: 0;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='pink' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  &__navlink {
    margin: .5rem 4rem 0 0;
    color: $color-1;
    font-size: 1.6rem;
    @include mq(md) {
      font-size: 1.65rem;
    }
    &__project:hover {
      color: $hovercolor-project;
    }
    &__artisan:hover {
      color: $bgcolor-artisan4;
    }
    &__profile:hover {
      color: $hovercolor-profile;
    }
    &__sign:hover {
      color: $hovercolor-sign;
    }
  }
  &__navlink:hover {
    @extend .hover;
    text-decoration: none;
  }
}

.footer {
  padding: 2.5rem 0 2rem 0rem;
  background: $bgcolor-footer;
  &__wrap {
    margin-right: 5rem;
  }
  &__title__wrap {
    @include mq(lg) {
      margin-right: -8rem;
    }
    @include mq(xl) {
      margin-right: -10rem;
    }
    padding-top: .3rem;
  }
  &__title {
    margin-left: 3rem;
    @include mq(md) {
      margin-left: 4rem;
    }
    color: white;
    font-family: 'Playfair Display', serif;
  }
  &__title:hover {
    @extend .hover;
    color: $hovercolor-main;
    text-decoration: none;
  }
  &__column {
    margin: 0 1.5rem;
    @include mq(md) {
      margin: 0 1rem 0 3rem;
    }
    padding-top: .8rem;
    color: white;
    font-size: 1.4rem;
    &__wrap {
      @include mq(md) {
        display: flex;
        margin-left: -2.1rem;
      }
      @include mq(lg) {
        margin-left: 0;
      }
    }
    &__terms:hover {
      @extend .hover;
      color: $hovercolor-terms;
      cursor: pointer;
      text-decoration: none;
    }
    &__privacy:hover {
      @extend .hover;
      color: $hovercolor-privacy;
      cursor: pointer;
      text-decoration: none;
    }
    &__management:hover {
      @extend .hover;
      color: $hovercolor-management;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__column2 {
    margin: 0 1.5rem;
    @include mq(md) {
      margin-left: 1rem;
    }
    padding-top: .8rem;
    color: white;
    font-size: 1.4rem;
  }
  &__column3 {
    display: none;
    @include mq(md) {
      display: block;
    }
  }
}
