$bgcolor-1: #FFFEED;
$bgcolor-2: #F8F9FA;
$bgcolor-3: #D61935;
$bgcolor-4: #F7F7F7;
$bgcolor-5: #EEEEEE;
$bgcolor-6: #F6FAFD;
$bgcolor-artisan: #BAFFFB;
$bgcolor-project: #1DBE00;
$bgcolor-project2: #F6F8FA;
$bgcolor-project3: #E3E4E8;
$bgcolor-idea: #FFD800;
$bgcolor-idea2: #FFFFEA;
$bgcolor-skill: #D8EEF7;
$bgcolor-footer: #606060;
$color-1: #6C6C6C;
$color-main: #FE38C3;
$color-error: #e73562;
$color-skill: #4C829F;
$btncolor-1: #C19A88;
$btncolor-2: #44B5AE;
$btncolor-3: #AF7128;
$bordercolor-1: #E7E7E7;

@media (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }
}

$breakpoints: (
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;
}

.center {
  display: inline-block;
  text-align: center;
}

.sign-form {
  margin: 2rem 0;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  font-size: 1.8rem;
}

.sign-button {
  margin-top: 1rem;
  padding: .8rem;
  border-radius: 8px;
  background: $btncolor-1;
  color: white;
  font-size: 1.8rem;
}

.button {
  border: 1px solid black;
  background: white;
  color: $color-1;
}

html {
  height: 100%;
  font-size: 62.5%;
  body {
    height: 100%;
    font-size: 1.6rem;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.flash {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background: $color-main;
  color: white;
  text-align: center;
}

.header {
  padding: 2.5rem 0 2.5rem 3rem;
  border-bottom: solid $color-main;
  &__title {
    color: $color-1;
  }
  &__title:hover {
    color: $color-1;
    text-decoration: none;
  }
  .navbar {
    margin-right: 2rem;
    background: white;
    .navbar-toggler {
      font-size: 2rem;
      outline: 0;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='pink' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  &__navlink {
    margin: .5rem 4rem 0 0;
    color: $color-1;
  }
  &__navlink:hover {
    color: $color-1;
    text-decoration: none;
  }
}

.footer {
  padding: 2.5rem 0 2rem 0rem;
  background: $bgcolor-footer;
  &__wrap {
    margin-right: 5rem;
  }
  &__title__wrap {
    padding-top: .3rem;
  }
  &__title {
    margin-left: 3rem;
    color: white;
  }
  &__title:hover {
    color: white;
    text-decoration: none;
  }
  &__column {
    margin: 0 1rem 0 3rem;
    padding-top: .8rem;
    color: white;
    font-size: 1.4rem;
  }
  &__column2 {
    margin: 0 1rem;
    padding-top: .8rem;
    color: white;
    font-size: 1.4rem;
  }
}