.new-idea-page {
  &__title {
    display: inline-block;
    width: 100%;
    padding: 2.5rem 0;
    background: $bgcolor-idea;
    color: $color-1;
    font-weight: bold;
    text-align: center;
  }
  &__menu {
    display: none;
    margin: 5rem auto 0 auto;
    @include mq(lg) {
      display: flex;
      margin: 5rem auto 0 .8rem;
    }
    @include mq(lg) {
      margin: 5rem auto 0 auto;
    }
    border: none;
    &__list {
      padding: 0;
      border: 1px solid black;
    }
    &__list-2 {
      padding: 0;
      border: 1px solid black;
      border-left: 1px solid black;
      @include mq(sm) {
        border-left: none;
      }
    }
    &__link {
      margin-bottom: -.1rem;
      padding: 1.6rem 0;
      color: $color-1;
      font-weight: bold;
      text-align: center;
      @include mq(md) {
        font-size: 1.3rem;
      }
      @include mq(lg) {
        font-size: 1.5rem;
      }
      @include mq(xl) {
        font-size: 1.6rem;
      }
    }
    &__link:hover {
      border: none;
      color: $color-1;
    }
    .nav-link.active {
      border: none;
      background: $bgcolor-idea;
      color: black;
    }
  }

  .idea-form {
    margin: 5rem auto 0 auto;
    color: $color-1;
    &__wrap {
      display: inline-block;
      margin: 0 auto;
      @include mq(md) {
        display: flex;
      }
    }
    &__bar {
      @include mq(lg) {
        display: none;
      }
      margin: -1rem 0 3rem 0;
      height: 2rem;
      &__content {
        background: $bgcolor-idea;
      }
      &__title {
        font-size: 1.4rem;
      }
    }
    &__content__wrap {
      margin-bottom: 5rem;
    }
    &__title-1 {
      margin-top: 1rem;
      padding: .3rem 1rem;
      font-weight: bold;
    }
    &__title-2 {
      margin: 1rem 0 auto 0;
      padding: .5rem 1rem;
      background: $bgcolor-3;
      color: $color-1;
    }
    &__button_wrap {
      display: none;
      @include mq(md) {
        display: inline-block;
        width: 100%;
        margin-top: 5rem;
        padding-bottom: 10rem;
        text-align: center;
      }
    }
    &__button_wrap2 {
      display: block;
      width: 100%;
      margin: 5rem 0;
      text-align: center;
      @include mq(md) {
        display: none;
      }
    }
    &__button {
      @include mq(s) {
        margin-bottom: .5rem;
      }
      margin: 1.5rem auto 0 auto;
      @include mq(sm) {
        margin-left:1.5rem;
      }
      padding: 1.5rem 0rem;
      border: 1px solid black;
      cursor: pointer;
    }
    &__button:hover {
      @extend .hover;
      background: $hovercolor-submit;
      color: white;
    }
    &-image {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem auto 0 auto;
        @include mq(md) {
          margin: 1.5rem 0 0 1.5rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input {
        margin-left: -1.5rem;
        visibility: hidden;
      }
      &__content {
        padding: 1.8rem 0 1rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
    }

    &-user {
      .bgIdea {
        background: $bgcolor-idea;
      }
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem auto 0 auto;
        @include mq(md) {
          margin: 1.5rem 0 0 1.5rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap3 {
        @include mq(lg) {
          margin-left: 1.5rem;
        }
      }
      &__content {
        padding: 7.8rem 0 5.8rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__content2 {
        padding: 6.8rem 0 5rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        // visibility: hidden;
      }

    }
    &-category {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        @include mq(lg) {
          margin-left: 12rem;
        }
        @include mq(xl) {
          margin-left: 18rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem auto 0 auto;
        @include mq(md) {
          margin: 1.5rem 0 0 1.5rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 3.8rem 0 3rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__content2 {
        padding: 3.8rem 0 3rem 0;
        @include mq(md) {
          padding: 4rem 0 .5rem 0;
        }
        @include mq(lg) {
          padding: 3.8rem 0 3rem 0;
        }
        font-weight: bold;
        font-size: 2rem;
      }
      &__content3 {
        padding: 3.8rem 0 3rem 0;
        @include mq(md) {
          padding: 3.3rem 0 1.3rem 0;
        }
        @include mq(lg) {
          padding: 3.8rem 0 3rem 0;
        }
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        visibility: hidden;
      }

    }
    &-category-details {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        @include mq(lg) {
          margin-left: 12rem;
        }
        @include mq(xl) {
          margin-left: 18rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        @include mq(md) {
          margin-left: 1.5rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 3.8rem 1rem 3rem 1rem;
        font-weight: bold;
        font-size: 2rem;
      }
      &__content2 {
        padding: 3.8rem 1rem 3rem 1rem;
        @include mq(md) {
          padding: 4rem 1rem .5rem 1rem;
        }
        @include mq(lg) {
          padding: 3.8rem 0 3rem 0;
        }
        font-weight: bold;
        font-size: 2rem;
      }
      &__content3 {
        padding: 3.8rem 1rem 3rem 1rem;
        @include mq(md) {
          padding: 3.3rem 1rem 1.3rem 1rem;
        }
        @include mq(lg) {
          padding: 3.8rem 0 3rem 0;
        }
        font-weight: bold;
        font-size: 2rem;
      }
      &__content4 {
        @include mq(md) {
          padding: 4rem 1rem 1.5rem 1rem;
        }
        @include mq(lg) {
          padding: 3.8rem 0 3rem 0;
        }
      }
      &__content5 {
        @include mq(lg) {
          margin-bottom: -1.5rem;
          padding: 3.8rem 0 3rem 0;
        }
        @include mq(xl) {
          margin-bottom: 1rem;
          padding: 3.8rem 0 3rem 0;
        }
      }
      &__content6 {
        @include mq(lg) {
          margin-bottom: -1.5rem;
          padding: 3rem 1.5rem 3rem 1.5rem;
        }
        @include mq(xl) {
          margin-bottom: 1rem;
          padding: 3.8rem 0 3rem 0;
        }
        @include mq(s) {
          font-size: 1.8rem;
        }
      }
      &__input {
        margin-left: -1.5rem;
        visibility: hidden;
      }
    }
    &-material {
      padding-bottom: 3rem;
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin-top: 1.5rem;
        @include mq(s) {
          margin: 1.5rem auto 0 auto;
        }
        @include mq(md) {
          margin-left: 1.5rem;
        }
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 3.8rem 0 3rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        visibility: hidden;
      }
    }

    &-idea-details {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__title1 {
        margin-top: 1rem;
        font-weight: bold;
        @include mq(s) {
          font-size: 1.6rem;
        }
        @include mq(md) {
          text-align: right;
        }
      }
      &__title2 {
        margin: .7rem 0 auto 0;
        padding: .5rem 1rem;
        background: $bgcolor-3;
        color: white;
        @include mq(s) {
          font-size: 1.4rem;
        }
        text-align: center;
      }
      &__title__wrap {
        @include mq(md) {
          margin-right: -8rem;
        }
      }
      &__title__wrap, &__input__wrap {
        @include mq(s) {
          margin-bottom: 2.5rem;
        }
        margin-bottom: 5rem;
      }
      &__input__number {
        // text-align: center;
      }
      &__input {
        @include mq(md) {
          margin-left: -2rem;
        }
        @include mq(lg) {
          margin-left: -3rem;
        }
        @include mq(xl) {
          margin-left: -10rem;
        }
        padding: 1rem;
        font-size: 1.5rem;
      }
      &__input2 {
        @include mq(md) {
          margin-left: -2rem;
        }
        @include mq(lg) {
          margin-left: -3rem;
        }
        @include mq(xl) {
          margin-left: -10rem;
        }
        padding: 1rem 1rem 8rem 1rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
      &__input3 {
        @include mq(md) {
          margin-left: -2rem;
        }
        @include mq(lg) {
          margin-left: -3rem;
        }
        @include mq(xl) {
          margin-left: -10rem;
        }
        margin-bottom: 5rem;
        padding: 1rem;
        border: 1px solid black;
        font-size: 1.6rem;
        outline: 0;
      }
      &__guide {
        margin-bottom: 5rem;
        font-size: 1.4rem;
        @include mq(lg) {
          margin-left: 15rem;
        }
        @include mq(xl) {
          margin-left: 12rem;
        }
      }
      &__content {
        padding-top: 1rem;
      }
    }
  }
}

.show-idea-page {
  &__edit__button {
    padding: .6rem 0;
    border: 1px solid black;
    color: $color-1;
    font-size: 1.4rem;
    text-decoration: none;
    &__wrap {
      margin: 3rem auto 2rem auto;
    }
  }
  &__edit__button:hover {
    @extend .hover;
    background: $hovercolor-idea;
    color: white;
  }
  &__title {
    display: inline-block;
    padding: 2.5rem 0;
    background: $bgcolor-idea;
    color: $color-1;
    font-weight: bold;
    text-align: center;
  }
  .show-idea-overview {
    margin-bottom: 5rem;
    padding-bottom: 1.5rem;
    background: $bgcolor-1;
    &__wrap {
      @include mq(lg) {
        margin: 6rem 0 0 -3rem;
      }
    }
    &__title{
      padding: 3rem 0 1rem 0;
      font-weight: bold;
      text-align: center;
    }
    &__title2 {
      padding: .8rem 1.5rem .8rem 2rem;
      border-radius: 20px;
      background: $bgcolor-idea;
      color: $color-1;
      font-weight: bold;
    }
    &__image {
      width: 100%;
      margin-bottom: 1.5rem;
      // padding: 13rem 0;
      border: 1px solid black;
      object-fit: cover;
    }
    &__content {
      margin-top: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px double black;
      color: $color-1;
    }
  }

  .show-idea-list {
    margin-bottom: 3rem;
    color: $color-1;
    &__title {
      margin: 0 auto;
      @include mq(lg) {
        margin-left: 3rem;
      }
      padding: 1rem 0;
      background: $bgcolor-idea;
      font-weight: bold;
      text-align: center;
    }
    &__title2 {
      margin: 0 auto 1rem auto;
      @include mq(lg) {
        margin: 1.5rem 0 0 -2rem;
      }
      @include mq(xl) {
        margin: 1.5rem 0 0 -9rem;
      }
      font-weight: bold;
      @include mq(lg) {
        text-align: right;
      }
    }
    &__title3 {
      margin: 0 auto 1.5rem auto;
      @include mq(lg) {
        margin: 0 0 1.5rem 3rem;
      }
      padding: 1rem 0;
      background: $bgcolor-idea;
      font-weight: bold;
      text-align: center;
    }
    &__title4 {
      margin: 0 auto 1.5rem auto;
      @include mq(lg) {
        margin: 0 0 1.5rem 3rem;
      }
      padding: 1rem 0;
      background: $bgcolor-idea;
      font-weight: bold;
      text-align: center;
      background: white;
    }
    &__content {
      margin: 0 auto;
      @include mq(lg) {
        margin-left: -8rem;
      }
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px double black;
      font-weight: bold;
    }
    &__content2 {
      margin-right: 3rem;
    }
    &__content3 {
      margin: 0 auto;
      @include mq(lg) {
        margin: auto 0;
      }
      padding: .8rem 0 .8rem 2rem;
      background: $bgcolor-4;
    }
  }

  .show-idea-comment {
    &__wrap {
      margin: 5rem 0;
    }
    &__input__wrap {
      margin: 3rem auto 1.5rem auto;
      @include mq(md) {
        margin: 10rem auto 1.5rem auto;
      }
    }
    &__input {
      padding: .8rem;
      @include mq(lg) {
        padding: .8rem .8rem 5rem .8rem;
      }
      font-size: 1.7rem;
      overflow: hidden;
      resize: none;
    }
    &__button__wrap {
      margin: 1.5rem auto 0 auto;
    }
    &__button {
      margin-bottom: 5rem;
      padding: .6rem;
      border: 1px solid black;
      background: $btncolor-comment;
      font-size: 1.8rem;
      font-weight: bold;
    }
    &__button:hover {
      @extend .hover;
      background: $hovercolor-comment;
      color: white;
    }
    &__user__wrap {
      margin: 3.8rem auto 0 auto;
      text-align: center;
    }
    &__user {
      color: black;
      font-weight: bold;
      font-size: 1.8rem;
      text-decoration: none;
    }
    &__user:hover {
      @extend .hover;
      color: $hovercolor-user;
    }
    &__content {
      margin: 3rem auto 0 auto;
      padding: .8rem;
      border: 1px solid black;
      color: $color-1;
    }
    &__delete-button__wrap {
      margin: 3rem auto 0 auto;
      padding-bottom: 1.5rem;
      text-align: center;
    }
    &__delete-button {
      @extend .sign-button;
      padding: 1rem 2.5rem;
      background: red;
      color: white;
      font-size: 1.5rem;
      @include mq(md) {
        font-size: 1.6rem;
      }
      text-decoration: none;
    }
    &__delete-button:hover {
      @extend .hover;
      background: $hovercolor-delete;
    }
  }
}

.ideas-page {
  &__header {
    background: $bgcolor-idea;
    &__wrap {

    }
  }
  &__menu {
    display: none;
    @include mq(xl) {
      display: flex;
    }
    margin: .8rem auto .8rem auto;
    padding: 1rem 0;
    background: $bgcolor-project2;
    &__icon__wrap {
      margin-top: 1.1rem;
    }
    &__icon {
      width: 2rem;
      margin-left: 2rem;
      cursor: pointer;
    }
    &__icon:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__icon2 {
      width: 1.6rem;
      vertical-align: -.2rem;
    }
    &__button {
      margin: 1rem 1.5rem 0 1rem;
      cursor: pointer;
      &__wrap {
        display: flex;
      }
    }
    &__button:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__button2 {
      margin: 0 .3rem;
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button3 {
      margin: 0 2rem;
      @include mq(s) {
        margin: 0 .3rem;
      }
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button2:hover, &__button3:hover {
      @extend .hover;
      background: $hovercolor-sort;
      color: white;
    }
  }
  &__menu2 {
    @include mq(xl) {
      display: none;
    }
    margin: .8rem auto .8rem auto;
    padding: .5rem 0;
    background: $bgcolor-project2;
    &__icon__wrap {
      margin-top: 1.1rem;
    }
    &__icon {
      width: 2rem;
      margin-left: 2rem;
      cursor: pointer;
    }
    &__icon:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__icon2 {
      width: 1.6rem;
      vertical-align: -.2rem;
    }
    &__button {
      margin: 1rem 1.5rem 0 1rem;
      cursor: pointer;
      &__wrap {
        display: flex;
      }
    }
    &__button:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__button2 {
      margin: 0 .3rem;
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button3 {
      margin: 0 2rem;
      @include mq(s) {
        margin: 0 .3rem;
      }
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button2:hover, &__button3:hover {
      @extend .hover;
      background: $hovercolor-sort;
      color: white;
    }
  }

  .idea-list {
    margin: 1.5rem auto;
    border: 1px solid black;
    @include mq(md) {
      margin: 1.5rem;
    }
    &_void {
      display: none;
      @include mq(md) {
        display: block;
        margin: 3rem;
      }
    }
    &__wrap {
      margin: 1.5rem auto;
      @include mq(md) {
        float: right;
      }
      @include mq(lg) {
        margin-left: 5rem;
        padding-left: 15rem;
      }
      @include mq(xl) {
        padding-left: 0;
      }
    }
    &__link {
      color: $color-1;
      text-decoration: none;
    }
    &__image {
      padding: 7rem 0;
      border-bottom: 1px solid black;
      text-align: center;
    }
    &__title {
      margin: 1rem 0 3rem 1.3rem;
    }
    &__bar {
      background: $bgcolor-idea;
    }
    &__bar__content {
      margin: .5rem auto;
      color: $color-1;
    }
    &__content__wrap {
      background: $bgcolor-project2;
    }
    &__guide {
      display: flex;
      margin-bottom: -.5rem;
      padding-top: 1rem;
      border-top: 1px solid black;
      background: $bgcolor-project2;
      color: $color-1;
      font-size: 1.4rem;
      text-align: center;
      &__content {
        @include mq(s) {
          display: none;
        }
      }
      &__icon__wrap {
        padding-top: 1rem;
      }
      &__icon1, &__icon2, &__icon3 {
        // @include mq(md) {
        //   display: none;
        // }
        // &__wrap {
        //   @include mq(md) {
        //     display: none;
        //   }
        // }
      }
    }
    &__content {
      display: flex;
      border-top: 1px solid black;
      background: $bgcolor-project2;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
      &__icon {

        &__wrap {
          margin: 1rem 0 auto 0;
        }
        &__wrap1 {

        }
        &__wrap2 {
          // margin-bottom: .2rem;
        }
        &__wrap3 {
          // margin-bottom: .2rem;
        }
      }
      &__icon1 {
        width: 1.35rem;
      }
      &__icon2 {
        width: 1.7rem;
      }
      &__icon3 {
        width: 1.6rem;
      }
      &__wrap {
        // padding-bottom: 1rem;
      }
      &__wrap1 {
        border-bottom: 1px solid black;
      }
      &__wrap2 {
        border-right: 1px solid black;
      }
      &__wrap3 {

      }
    }
    &__content1, &__content2, &__content3 {
      color: $color-1;
      font-size: 1.8rem;
    }
    &__content1 {

    }
    &__content2 {

    }
    &__content3 {

    }
    &__bar2 {
      background: $bgcolor-project3;
    }
  }
}