.new-idea-page {
  width: 100%;
  &__title {
    display: inline-block;
    width: 100%;
    padding: 2.5rem 0;
    background: $bgcolor-idea;
    color: $color-1;
    font-weight: bold;
    text-align: center;
  }
  &__menu {
    margin-top: 3rem;
    &__list {
      border: 1px solid black;
    }
    &__list-2 {
      border: 1px solid black;
      border-left: none;
    }
    &__link {
      padding: 1.5rem 3.6rem;
      color: $color-1;
      font-weight: bold;
    }
    &__link:hover {
      color: $color-1;
    }
    .nav-link.active {
      background: $bgcolor-idea;
      color: black;
    }
  }

  .idea-form {
    height: 100%;
    margin: 5rem auto 0 auto;
    color: $color-1;
    &__title-1 {
      margin-top: 1rem;
      padding: .3rem 1rem;
      font-weight: bold;
    }
    &__title-2 {
      margin: 1rem 0 auto 0;
      padding: .5rem 1rem;
      background: $bgcolor-3;
      color: $color-1;
    }
    &__button_wrap {
      display: inline-block;
      width: 100%;
      margin-top: 5rem;
      padding-bottom: 6rem;
      text-align: center;
    }
    &__button {
      padding: 1.5rem 7rem;
      border: 1px solid black;
    }
    &__button-2 {
      margin-left: 1.5rem;
      padding: 1.5rem 5rem;
      border: 1px solid black;
    }
    &-image {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin: 1.5rem 0 0 27rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem 0 0 1.5rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input {
        margin-left: -1.5rem;
        // visibility: hidden;
      }
      &__content {
        padding: 1.8rem 0 1rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
    }
    &-user {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin-left: 2.5rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 7.8rem 0 5rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__content2 {
        padding: 6.8rem 0 5rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        // visibility: hidden;
      }
    }
    &-category {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin: 1.5rem 0 0 25rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem 0rem 0 1.5rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 3.8rem 0 3rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        // visibility: hidden;
      }
    }
    &-category-details {
      &__title {
        margin-bottom: 3rem;
        font-weight: bold;
        text-align: center;
      }
      &__input__wrap {
        margin: 1.5rem 0 0 25rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__input__wrap2 {
        margin: 1.5rem 0rem 0 1.5rem;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        cursor: pointer;
      }
      &__content {
        padding: 3.8rem 0 3rem 0;
        font-weight: bold;
        font-size: 2rem;
      }
      &__input {
        margin-left: -1.5rem;
        // visibility: hidden;
      }
    }
  }
}