.new-project-page {
  height: 100%;
  &__title {
    display: inline-block;
    margin-top: 3rem;
    width: 100%;
    color: $color-1;
    font-weight: bold;
    text-align: center;
  }
  &__menu {
    margin: 0 auto;
  }
  .project-form {
    margin: 5rem auto 0 auto;
    color: $color-1;
    &__title_wrap {
      margin: 0 0 0 5rem;
    }
    &__title-1 {

    }
    &__title-2 {
      margin: 0 0 auto 0;
      background: $bgcolor-3;
      color: white;
    }

    &-value {

    }
    &-project {

    }
    &-image {

    }
    &-about {

    }
  }
}