.new-project-page {
  background: $bgcolor-project6;
  &__title {
    display: inline-block;
    width: 100%;
    padding: 2.5rem 0;
    background: $bgcolor-project;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  &__menu {
    display: none;
    margin: 5rem auto 0 auto;
    @include mq(lg) {
      display: flex;
      margin: 5rem auto 0 .8rem;
    }
    @include mq(lg) {
      margin: 5rem auto 0 auto;
    }
    border: none;
    &__list {
      padding: 0;
      border: 1px solid black;
    }
    &__list-2 {
      padding: 0;
      border: 1px solid black;
      border-left: 1px solid black;
      @include mq(sm) {
        border-left: none;
      }
    }
    &__link {
      margin-bottom: -.1rem;
      padding: 1.6rem 0;
      color: $color-1;
      font-weight: bold;
      text-align: center;
      @include mq(md) {
        font-size: 1.3rem;
      }
      @include mq(lg) {
        font-size: 1.5rem;
      }
      @include mq(xl) {
        font-size: 1.6rem;
      }
    }
    &__link:hover {
      border: none;
      color: $color-1;
    }
    .nav-link.active {
      border: none;
      background: $bgcolor-project;
      color: white;
    }
  }

  .project-form {
    margin: 5rem auto 0 auto;
    color: $color-1;
    &__bar {
      @include mq(lg) {
        display: none;
      }
      margin: -1rem 0 3rem 0;
      height: 2rem;
      &__content {
        background: $bgcolor-project;
      }
      &__title {
        font-size: 1.4rem;
      }
    }
    &__idea__input {
      padding: .5rem 1rem;
      border: 1px solid black;
      background: white;
      outline: 0;
      &__wrap {
        margin: .5rem 0 3rem 0;
      }
    }
    &__title-1 {
      margin-top: 1rem;
      padding: .3rem 1rem;
      font-weight: bold;
      @include mq(md) {
        text-align: right;
      }
    }
    &__title-2 {
      margin: 1rem 0 auto 0;
      padding: .5rem 1rem;
      background: $bgcolor-3;
      color: white;
      text-align: center;
    }
    &__title__wrap {
      margin-top: 1.5rem;
      @include mq(lg) {
        margin-left: 12rem;
      }
      @include mq(xl) {
        margin-top: 1.9rem;
      }
    }
    &__form__wrap {
      margin-top: 1rem;
      @include mq(md) {
        margin: 2rem 0 0 -5rem;
      }
      @include mq(lg) {
        margin-left: -8rem;
      }
      @include mq(xl) {
        margin-left: -11rem;
      }
    }
    &__form__return__wrap {
      margin-top: 1rem;
      @include mq(md) {
        margin-top: 2rem;
      }
      @include mq(lg) {
        margin-left: -3rem;
      }
      @include mq(xl) {
        margin-left: -5rem;
      }
    }
    &__button_wrap {
      display: none;
      @include mq(md) {
        display: inline-block;
        width: 100%;
        margin-top: 5rem;
        padding-bottom: 10rem;
        text-align: center;
      }
    }
    &__button_wrap2 {
      display: block;
      width: 100%;
      margin: 5rem 0;
      text-align: center;
      @include mq(md) {
        display: none;
      }
    }
    &__button {
      @include mq(s) {
        margin-bottom: .5rem;
      }
      margin: 1.5rem auto 0 auto;
      @include mq(sm) {
        margin-left:1.5rem;
      }
      padding: 1.5rem 0rem;
      border: 1px solid black;
      background: white;
      cursor: pointer;
    }
    &__button:hover {
      @extend .hover;
      background: $hovercolor-submit;
      color: white;
    }

    &-value {
      &__target {
        &__input {
          padding: .5rem;
          font-size: 1.4rem;
          @include mq(xl) {
            padding: 1rem;
            font-size: 1.5rem;
          }
        }
        &__guide {
          font-size: 1.3rem;
          @include mq(xl) {
            margin-bottom: 5rem;
            font-size: 1.4rem;
          }
        }
      }
      &__deadline {
        &__input {
          padding: .5rem;
          font-size: 1.4rem;
          @include mq(xl) {
            padding: 1rem;
            font-size: 1.5rem;
          }
        }
        &__guide {
          font-size: 1.3rem;
          @include mq(xl) {
            margin-left: 1rem;
            font-size: 1.4rem;
          }
        }
        &__guide-2 {
          @include mq(xl) {
            margin-bottom: 5rem;
          }
        }
      }
      &__method {
        &__input_wrap {
          margin-top: 1rem;
        }
        &__input_wrap-2 {
          margin-top: 1rem;
          @include mq(s) {
            padding-left: 1rem;
          }
          padding-left: 3rem;
        }
        &__input__title {
          cursor: pointer;
          @include mq(xl) {
            margin-top: -2.3rem;
            padding-left: 2.5rem;
            font-size: 1.8rem;
          }
        }
        &__input {
          padding-bottom: 1rem;
        }
        &__guide_wrap-2 {
          @include mq(s) {
            padding-top: 0;
          }
          padding-top: 3rem;
        }
        &__guide {
          font-size: 1.3rem;
          @include mq(xl) {
            font-size: 1.4rem;
          }
        }
      }
    }
    &-project {
      &__content_wrap {
        margin-top: 5rem;
      }
      &__input {
        padding: 1rem;
        font-size: 1.5rem;
      }
      &__input-2 {
        padding: 1rem 1rem 5rem 1rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
      &__guide {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
    &-image {
      &__image_wrap {
        margin-top: 1.5rem;
        border: 1px solid black;
        background: white;
      }
      &__image_wrap2 {
        float: left;
        border: 1px solid black;
        margin: .8rem 1.6rem .8rem 0;
      }
      &__input {
        padding: 1rem 1rem 35rem 1rem;
        cursor: pointer;
      }
      &__input-2 {
        margin: 0 1.5rem 1.5rem 0;
        padding: 1rem 1rem 10rem 1rem;
      }
      &__input-3 {
        padding: 1rem;
        font-size: 1.4rem;
      }
      &__sub {
        margin-top: 5rem;
      }
      &__guide__wrap {
        @include mq(md) {
          margin-bottom: 1.5rem;
        }
        @include mq(xl) {
          margin-left: -5rem;
        }
        font-size: 1.5rem;
      }
      &__guide__title {
        margin-top: 1.5rem;
        list-style: none;
      }
    }
    &-about {
      &__input {
        padding: 1.5rem 1.5rem 50rem 1.5rem;
        @include mq(md) {
          padding-bottom: 113rem;
        }
        @include mq(lg) {
          padding-bottom: 93rem;
        }
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
    }
    &-idea {
      padding-bottom: 20rem;
      &__input {
        padding: 2rem 1rem;
      }
    }
    &-return {
      &__input {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 1.6rem;
        overflow: hidden;
        resize: none;
      }
      &__input2 {
        padding: 1rem 1rem 10rem 1rem;
        font-size: 1.6rem;
        overflow: hidden;
        resize: none;
      }
      &__input3 {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 1.6rem;
        overflow: hidden;
        resize: none;
        text-align: center;
      }
      &__image {
        padding: 15rem;
      }
    }
    &-report {
      &__input {
        padding: 1.5rem 1.5rem 30rem 1.5rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
    }
  }
}

.projects-page {
  // padding: 0;
  background: $bgcolor-project6;
  &__header {
    background: $bgcolor-project;
    &__wrap {

    }
  }
  &__menu {
    display: none;
    @include mq(xl) {
      display: flex;
    }
    margin: .8rem auto .8rem auto;
    padding: 1rem 0;
    background: $bgcolor-project2;
    &__icon__wrap {
      margin-top: 1.1rem;
    }
    &__icon {
      width: 2rem;
      margin-left: 2rem;
      cursor: pointer;
    }
    &__icon:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__icon2 {
      width: 1.6rem;
      vertical-align: -.2rem;
    }
    &__button {
      margin: 1rem 1.5rem 0 1rem;
      cursor: pointer;
      &__wrap {
        display: flex;
      }
    }
    &__button:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__button2 {
      margin: 0 .3rem;
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button3 {
      margin: 0 2rem;
      @include mq(s) {
        margin: 0 .3rem;
      }
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button2:hover, &__button3:hover {
      @extend .hover;
      background: $hovercolor-sort;
      color: white;
    }
  }
  &__menu2 {
    @include mq(xl) {
      display: none;
    }
    margin: .8rem auto .8rem auto;
    padding: .5rem 0;
    background: $bgcolor-project2;
    &__icon__wrap {
      margin-top: 1.1rem;
    }
    &__icon {
      width: 2rem;
      margin-left: 2rem;
      cursor: pointer;
    }
    &__icon:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__icon2 {
      width: 1.6rem;
      vertical-align: -.2rem;
    }
    &__button {
      margin: 1rem 1.5rem 0 1rem;
      cursor: pointer;
      &__wrap {
        display: flex;
      }
    }
    &__button:hover {
      @extend .hover;
      color: $hovercolor-sort;
    }
    &__button2 {
      margin: 0 .3rem;
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button3 {
      margin: 0 2rem;
      @include mq(s) {
        margin: 0 .3rem;
      }
      padding: 1rem 1.6rem;
      border: 1px solid $bordercolor-1;
      background: white;
      color: $color-1;
      cursor: pointer;
    }
    &__button2:hover, &__button3:hover {
      @extend .hover;
      background: $hovercolor-sort;
      color: white;
    }
  }

  .project-list {
    margin: 1.5rem auto;
    background: white;
    @include mq(md) {
      margin: 1.5rem;
    }
    &_void {
      display: none;
      @include mq(md) {
        display: block;
        margin: 3rem;
      }
    }
    &__wrap {
      margin: 1.5rem auto;
      @include mq(md) {
        float: right;
      }
      @include mq(lg) {
        margin-left: 5rem;
        padding-left: 15rem;
      }
      @include mq(xl) {
        padding-left: 0;
      }
    }
    &__link {
      color: $color-1;
      text-decoration: none;
    }
    &__image {
      width: 100%;
      height: 23rem;
      object-fit: contain;
      margin-top: -2rem;
      // padding: 8rem 0;
      // border: 1px solid black;
      // text-align: center;
    }
    &__title {
      margin: 1rem 0 3rem 1.3rem;
      padding-right: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__bar {
      background: $bgcolor-idea;
    }
    &__bar__content {
      margin: .5rem auto;
      color: white;
    }
    &__content__wrap {
      background: $bgcolor-project2;
    }
    &__guide {
      display: flex;
      margin-bottom: -.5rem;
      padding-top: 1rem;
      background: $bgcolor-project2;
      color: $color-1;
      font-size: 1.4rem;
      text-align: center;
      &__content {
        @include mq(s) {
          display: none;
        }
      }
      &__icon__wrap {
        padding-top: 1rem;
      }
      &__icon1, &__icon2, &__icon3 {
        // @include mq(md) {
        //   display: none;
        // }
        // &__wrap {
        //   @include mq(md) {
        //     display: none;
        //   }
        // }
      }
      &__icon1 {
        width: 1.35rem;
      }
      &__icon2 {
        width: 2rem;
      }
      &__icon3 {
        width: 1.8rem;
      }
    }
    &__content {
      display: flex;
      padding-bottom: 1rem;
      background: $bgcolor-project2;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
    }
    &__bar2 {
      background: $bgcolor-project3;
    }
  }
}

.show-project-page {
  &__header {
    padding: 3.5rem 0;
    background: $bgcolor-project;
  }
  .show-project__title__wrap {
    display: flex;
    padding: 1.5rem;
    background: $bgcolor-6;
    color: $color-1;
  }
  .show-project1 {
    background: $bgcolor-6;
    &__edit {
      margin-left: -1rem;
      color: $color-1;
      font-weight: bold;
      text-decoration: none;
      &__icon {
        width: 2rem;
        vertical-align: -.3rem;
        cursor: pointer;
      }
      &__icon:hover {
        color: $hovercolor-project;
      }
      &__wrap {
        margin-top: 1.5rem;
      }
    }
    &__edit:hover {
      @extend .hover;
      color: $hovercolor-project;
    }
    &__user-name {
      @include mq(s) {
        margin: 1rem 0 auto 0;
      }
      @include mq(md) {
        text-align: right;
      }
      color: $color-1;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
    }
    &__title {
      color: black;
      font-weight: bold;
      font-size: 2.5rem;
      @include mq(md) {
        font-size: 3rem;
      }
      text-align: center;
    }
    &__image {
        width: 100%;
        object-fit: contain;
        padding: 0;
      // text-align: center;
      &__wrap {
        @include mq(s) {
          margin: 0 auto;
        }
        margin-left: 5rem;
        padding-right: 0;
        // margin: 0 auto;
        // padding: 0;
        // @include mq(md) {
        //   margin: 0 0 0 auto;
        // }
      }
      &__wrap2 {
        padding: 0;
      }
    }
    &__sns {
      &__icon__wraps {
        // margin-right: -2%;
      }
      &__icon__wrap {
        display: flex;
        margin: 0 auto 0 0;
        padding: 0;
      }
      &__icon__wrap2 {
        display: flex;
        margin: 0 .5rem;
        padding-left: 1rem;
        cursor: pointer;
      }
      &__icon__wrap2:hover {
        @extend .hover;
        opacity: 0.9;
      }
      &__icon__wrap3 {
        margin: .3rem 0 -.5rem 0;
      }
      &__icon__title {
        padding: .7rem 0 0 1rem;
        color: white;
      }
      &__icon1, &__icon2, &__icon3, &__icon4, &__icon5 {
        width: 3rem;
        // margin: 0 .3rem;
        color: white;
      }
      &__icon1 {
        &__wrap {
          display: none;
          @include mq(md) {
            display: flex;
          }
          background: $color-twitter;
        }
      }
      &__icon2 {
        &__wrap {
          display: none;
          @include mq(md) {
            display: flex;
          }
          background-image: $color-instagram;
        }
      }
      &__icon3 {
        &__wrap {
          display: none;
          @include mq(md) {
            display: flex;
          }
          background: $color-facebook;
        }
      }
      &__icon4 {
        &__wrap {
          display: none;
          @include mq(md) {
            display: flex;
          }
          background: $color-line;
        }
      }
      &__icon5 {
        &__wrap {
          background: $color-google;
        }
      }
    }
    &__content__wrap {
      margin: 0 auto;
      @include mq(s) {
        padding: 0;
      }
      @include mq(md) {
        margin: 2rem auto 0 0;
        padding-left: 5rem;
        padding-right: 0;
      }
    }
    &__icon {
      width: 1.5rem;
      color: black;
      vertical-align: -.4rem;
    }
    &__project-fund {
      margin-bottom: 0;
      padding: 0;
      font-weight: bold;
      font-size: 4.5rem;
      @include mq(md) {
        font-size: 5rem;
      }
      &__title {
        margin-bottom: 0;
      }
    }
    &__progress {
      background: $bgcolor-idea;
      &__wrap {
        // padding: 1.3rem 0;
        // margin-bottom: .6rem;

        // border-radius: 50px;
      }
      &__content {
        color: white;
        text-align: left;
      }
    }
    &__target-fund {
      margin-bottom: 3rem;
      padding: 0;
      color: $color-1;
    }
    &__user-image__wrap {
      display: flex;
      @include mq(md) {
        margin-bottom: -9rem;
      }
    }
    &__icon6 {
      width: 2.5rem;
      color: black;
      vertical-align: -.3rem;
    }
    &__patron {
      margin-bottom: 0;
      &__wrap {
        padding: 2rem 0 0 0;
      }
    }
    &__supporter {
      padding: 0;
      font-weight: bold;
      font-size: 4.5rem;
      @include mq(md) {
        font-size: 5rem;
      }
    }
    &__user-image {
      width: 100%;
      height: 15rem;
      @include mq(s) {
        height: 17rem;
      }
      border: 1px solid black;
      border-radius: 50%;
      background: white;
      text-align: center;
      object-fit: contain;
    }
    &__icon3 {
      width: 2rem;
      color: black;
      vertical-align: -.3rem;
    }
    &__deadline-owner {
      display: flex;
      margin-top: 10rem;
      border-bottom: 3px solid $bordercolor-1;
    }
    &__deadline {
      font-weight: bold;
      font-size: 4.5rem;
      @include mq(md) {
        font-size: 5rem;
      }
      &__title {
        margin-bottom: 0;
      }
      &__wrap {
        padding: 0;
      }
    }
    &__owner-name {
      margin-top: 1rem;
      text-align: center;
      font-weight: bold;
    }
    &__prefectures {
      text-align: center;
      font-weight: bold;
    }
  }

  .show-menu {
    display: flex;
    margin: 5rem 0 0 2.5rem;
    @include mq(s) {
      margin: 1.5rem 0 0 3rem;
      padding: 0;
    }
    @include mq(lg) {
      margin: 5rem 0 0 10rem;
    }
    @include mq(xl) {
      margin: 5rem 0 0 13rem;
    }
    border: none;
    list-style: none;
    &__follow-favorite_sm {
      // margin: 0 auto;
      padding-left: 3rem;
      @include mq(md) {
        display: none;
      }
    }
    &__follow-favorite {
      display: none;
      @include mq(md) {
        display: block;
        padding: 0;
      }
      @include mq(lg) {
        margin-left: 7rem;
      }
      @include mq(xl) {
        display: flex;
        margin-left: 5rem;
      }
    }
    &__follow {
      // margin: 3rem 0 0 3rem;
      @include mq(md) {
        margin: 5.2rem 0 -4rem 0;
      }
      @include mq(xl) {
        margin-top: 5rem;
      }
      &-icon {
        width: 2rem;
        margin-right: .5rem;
        vertical-align: -.2rem;
      }
      &__button {
        color: $color-1;
        text-decoration: none;
        outline: 0;
      }
      &__button:hover {
        @extend .hover;
        color: $hovercolor-follow;
      }
      &__button2 {
        color: red;
        text-decoration: none;
        outline: 0;
      }
    }
    &__favorite {
      // margin: 2rem 0 2rem 3rem;
      // @include mq(md) {
      //   margin: 3rem 0 2rem 3rem;
      // }
      @include mq(md) {
        margin: -5rem auto 0 auto;
      }
      @include mq(lg) {
        margin: -5rem auto 0 auto;
      }
      @include mq(xl) {
        margin-top: 5rem;
      }
      &__button {
        color: $color-1;
        text-decoration: none;
      }
      &__button:hover {
        @extend .hover;
        color: $hovercolor-favorite;
      }
      &__button2 {
        color: red;
        text-decoration: none;
      }
    }
    &__link {
      border: none;
      color: $color-1;
    }
    &__link.active {
      background: white;
      color: black;
    }
    &__icon {
      width: 2rem;
      margin-right: .5rem;
      color: $bgcolor-idea;
      vertical-align: -.2rem;
    }
    &__icon1, &__icon2, &__icon3, &__icon4 {
      margin: 0 .5rem;
    }
    &__icon1, &__icon2 {
      width: 1.8rem;
      color: black;
      vertical-align: -.2rem;
    }
    &__icon2 {

    }
    &__icon3 {
      width: 2.1rem;
      color: black;
      vertical-align: -.2rem;
    }
    &__icon4 {
      width: 1.7rem;
      color: black;
      vertical-align: -.3rem;
    }
    &__icon5 {
      width: 2rem;
      color: black;
      vertical-align: -.2rem;
      transform: scaleX(-1);
    }
  }

  .show-project2 {
    margin: 5rem auto 0 auto;
    &__home {
      // @include mq(lg) {
      //   margin-left: 6rem;
      // }
      &__title {
        font-weight: bold;
      }
      &__icon {
        width: 1.3rem;
      }
      &__content {
        margin-top: 1.5rem;
        border: 1px solid black;
        word-break: break-all;
        @include mq(s) {
          padding-bottom: .5rem 1rem 30rem .5rem;
        }
        padding: 1rem 1rem 90rem 1rem;
      }
    }
    // &__report {
    //   @include mq(lg) {
    //     margin-left: 6rem;
    //   }
    // }
    // &__patron {
    //   @include mq(lg) {
    //     margin-left: 6rem;
    //   }
    // }
    &__comment {
      // @include mq(lg) {
      //   margin-left: 6rem;
      // }
      &__input__wrap {
        margin: 1.5rem auto 3rem auto;
      }
      &__input {
        @include mq(s) {
          margin: 0 auto;
        }
        padding: 1rem 1rem 10rem 1rem;
        font-size: 1.7rem;
        overflow: hidden;
        resize: none;
      }
      &__button__wrap {
        @include mq(s) {
          display: inline-block;
          text-align: center;
        }
        margin: 1.5rem auto 0 auto;
      }
      &__button {
        margin-bottom: 5rem;
        padding: .5rem;
        border: 1px solid black;
        background: $btncolor-comment;
        font-weight: bold;
      }
      &__button:hover {
        @extend .hover;
        background: $hovercolor-comment;
        color: white;
      }
      &__content__wrap {
        display: flex;
        margin: 0 auto;
      }
      &__delete {
        color: $hovercolor-delete;
        text-decoration: none;
        &__wrap {
          margin-bottom: 3rem;
        }
      }
      &__delete:hover {
        @extend .hover;
        color: red;
      }
      &__user {
        color: black;
        text-decoration: none;
      }
      &__user:hover {
        @extend .hover;
        color: $hovercolor-user;
      }
      &__content {
        color: $color-1;
        word-wrap: break-word;
      }
    }
  }
  .show-project3 {
    margin: 3rem 0 0 auto;
    @include mq(md) {
      margin-left: 3rem;
    }
    &__title {
      margin-bottom: 1.5rem;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      @include mq(md) {
        font-size: 2.5rem;
      }
    }
    &__title2 {
      margin: 3rem 0;
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      @include mq(md) {
        font-size: 2.5rem;
      }
    }
    &-form {
      &__button {
        // margin-bottom: 4rem;
        outline: 0;
      }
      &__icon {
        width: 2rem;
        vertical-align: -.5rem;
      }
      &__wrap {
        @include mq(lg) {
          display: flex;
        }
        margin-top: 2rem;
      }
      &__image__wrap {
        padding-bottom: 25rem;
        border: 1px solid black;
        cursor: pointer;
      }
      &__input__wrap {
        margin-left: -2rem;
      }
      &__input__wrap2 {
        @include mq(xl) {
          margin-left: -3.2rem;
        }
      }
      &__input {
        font-size: 1.6rem;
      }
      &__input2 {
        font-size: 1.6rem;
        text-align: center;
      }
      &__input3 {
        padding: 1rem 1rem 7rem 1rem;
        font-size: 1.6rem;
        overflow: hidden;
        resize: none;
      }
      &__button:hover {
        @extend .hover;
        color: $hovercolor-return;
      }
      .showReturn {
        color: $hovercolor-return;
      }
      &__button2__wrap {
        margin: 3rem auto 6rem auto;
      }
      &__button2 {
        padding: 1.5rem 0rem;
        border: 1px solid black;
        outline: 0;
        cursor: pointer;
      }
      &__button2:hover {
        @extend .hover;
        background: $hovercolor-submit;
        color: white;
      }
    }
    &__idea {
      margin: 0 -3rem 3rem -3rem;
      @include mq(xl) {
        margin: 0 0 3rem 0;
      }
      padding-bottom: 1.5rem;
      background: $bgcolor-idea2;
      &__title {
        margin-bottom: 1.5rem;
        @include  mq(md) {
          margin-bottom: 3rem;
        }
        padding-top: 3rem;
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        vertical-align: middle;
      }
      &__image {
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
        // margin: 0 auto 2rem auto;
        // padding: 15rem 0;
        // border: 1px solid black;
        // background: white;
        // text-align: center;
      }
      &__title2 {
        margin: 1.5rem 0 0 2rem;
        padding: .6rem 0;
        border-radius: 20px;
        background: $btncolor-3;
        color: white;
        font-weight: bold;
        text-align: center;
      }
      &__content {
        margin: 1.5rem 0 0 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px double black;
        color: $color-1;
      }
      &__button__wrap {
        margin: 2rem auto 0 auto;
        padding: 2rem 0;
        border-radius: 50px;
        background: $bgcolor-idea;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
      }
      &__button__wrap:hover {
        @extend .hover;
        background: $hovercolor-idea;
        color: white;
      }
      &__button {
        color: $color-1;
        text-decoration: none;
      }
      &__button:hover {
        @extend .hover;
        color: white;
      }
    }
    &__return {
      @include mq(s) {
        margin: 0 auto;
      }
      &__wrap {
        margin-bottom: 6rem;
        border: 1px solid black;
        background: $bgcolor-project2;
      }
      &__wrap2 {
        margin-top: 4rem;
        background: $bgcolor-project2;
      }
      &__title {
        margin-bottom: 1.5rem;
        font-weight: bold;
      }
      &__title2 {
        margin: -3.2rem 0 1.5rem 1.5rem;
        padding-top: .5rem;
        font-weight: bold;
      }
      &__icon {
        width: 2rem;
        vertical-align: -.2rem;
      }
      &__money, &__content, &__supporter, &__schedule {
        margin: 0 auto;
        border: 1px solid black;
        background: white;
        color: $color-1;
        text-align: center;
      }
      &__money {
        margin: 1.5rem auto;
        padding: 1rem 0;
      }
      &__content {
        margin-bottom: 1.5rem;
        padding: .5rem 0;
      }
      &__content2 {
        margin: 0 2rem;
        word-wrap: break-word;
      }
      &__supporter__wrap {
        display: flex;
      }
      &__supporter, &__schedule {
        margin-bottom: 1.5rem;
        padding: .5rem 0;
        @include mq(md) {
          font-size: 1.4rem;
        }
        @include mq(xl) {
          font-size: 1.6rem;
        }
      }
      &__patron {
        margin: 3rem auto 1.5rem 1.5rem;
      }
      &__schedule2 {
        margin: .5rem auto 1.5rem 2rem;
        padding-bottom: 1rem;
        @include mq(lg) {
          margin: 3rem 2rem 1.5rem auto;
          padding-bottom: 0;
        }
      }
      &__guide {
        @include mq(lg) {
          display: flex;
        }
      }
      &__aid {
        position: relative;
        left: 3rem;
        color: black;
        font-size: 1.6rem;
        text-decoration: none;
        &__wrap {
          padding-top: 1.3rem;
          text-align: right;
        }
      }
      &__aid:hover {
        @extend .hover;
        color: $hovercolor-aid;
      }
      &__hide {
          margin-bottom: 3rem;
      }
      &__patron {
        margin: 3rem auto 1.5rem 1.5rem;
      }
      &__schedule2 {
        margin: .5rem auto 1.5rem 2rem;
        padding-bottom: 1rem;
        @include mq(lg) {
          margin: 3rem 2rem 1.5rem auto;
          padding-bottom: 0;
        }
      }
      &__guide {
        @include mq(lg) {
          display: flex;
        }
      }
      &__hide {
          margin-bottom: 3rem;
      }
    }
  }
}
