.new-project-page {
  width: 100%;
  &__title {
    display: inline-block;
    width: 100%;
    padding: 2.5rem 0;
    background: $bgcolor-4;
    color: white;
    text-align: center;
  }
  &__menu {
    margin-top: 3rem;
    &__list {
      border: 1px solid black;
    }
    &__list-2 {
      border: 1px solid black;
      border-left: none;
    }
    &__link {
      padding: 1.5rem 4.5rem;
      color: $color-1;
    }
    &__link:hover {
      color: $color-1;
    }
    .nav-link.active {
      background: $bgcolor-4;
      color: white;
    }
  }
  .project-form {
    height: 100%;
    margin: 5rem auto 0 auto;
    color: $color-1;
    &__title-1 {
      margin-top: 1rem;
      padding: .3rem 1rem;
      font-weight: bold;
    }
    &__title-2 {
      margin: 1rem 0 auto 0;
      padding: .5rem 1rem;
      background: $bgcolor-3;
      color: white;
    }
    &__button_wrap {
      display: inline-block;
      width: 100%;
      margin-top: 5rem;
      padding-bottom: 6rem;
      text-align: center;
    }
    &__button {
      padding: 1.5rem 7rem;
      border: 1px solid black;
    }
    &__button-2 {
      margin-left: 1.5rem;
      padding: 1.5rem 5rem;
      border: 1px solid black;
    }

    &-value {
      &__target {
        &__input {
          padding: 1rem;
          font-size: 1.5rem;
        }
        &__guide {
          margin: 0 0 5rem 1rem;
          font-size: 1.4rem;
        }
      }
      &__deadline {
        &__input {
          padding: 1rem;
          font-size: 1.5rem;
        }
        &__guide {
          margin-left: 1rem;
          font-size: 1.4rem;
        }
        &__guide-2 {
          margin-bottom: 5rem;
        }
      }
      &__method {
        &__input_wrap {
          margin-top: 1rem;
        }
        &__input_wrap-2 {
          margin-top: 1rem;
          padding-left: 3rem;
        }
        &__input__title {
          margin-top: -2.3rem;
          padding-left: 2.5rem;
          font-size: 1.8rem;
        }
        &__input {
          padding-bottom: 1rem;
        }
        &__guide_wrap {
          margin-left: 1rem;
        }
        &__guide_wrap-2 {
          padding-top: 3rem;
        }
        &__guide {
          font-size: 1.4rem;
        }
      }
    }
    &-project {
      &__content_wrap {
        margin-top: 5rem;
      }
      &__input {
        padding: 1rem;
        font-size: 1.5rem;
      }
      &__input-2 {
        padding: 1rem 1rem 5rem 1rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
      &__guide {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
    &-image {
      &__image_wrap {
        border: 1px solid black;
      }
      &__image_wrap-2 {
        border: 1px solid black;
        margin: .8rem 1.6rem .8rem 0;
      }
      &__input {
        padding: 1rem 1rem 35rem 1rem;
      }
      &__input-2 {
        margin: 0 1.5rem .5rem 0;
        padding: 1rem 1rem 10rem 1rem;
      }
      &__input-2-1 {
        margin-bottom: 5rem;
      }
      &__input-3 {
        padding: 1rem;
        font-size: 1.4rem;
      }
      &__sub {
        margin-top: 5rem;
      }
      &__guide_wrap {
        font-size: 1.5rem;
      }
      &__guide__title {
        margin-left: -4rem;
        list-style: none;
      }
      &__guide__content {
        margin-left: -1rem;
      }
    }
    &-about {
      &__input {
        padding: 1.5rem 1.5rem 110rem 1.5rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
    }
    &-idea {
      &__input {
        padding: 2rem 1rem;
      }
    }
    &-report {
      &__input {
        padding: 1.5rem 1.5rem 30rem 1.5rem;
        font-size: 1.5rem;
        overflow: hidden;
        resize: none;
      }
    }
  }
}