.signin-page {
  height: 100%;
  background: $bgcolor-1;
  .signin {
    &__title {
      margin: 0 auto 3rem auto;
      padding-top: 5rem;
      color: $color-1;
      font-weight: bold;
    }
    &-form {
      &__wrap {
        margin: 0 auto;
      }
      &__input {
        @extend .sign-form;
      }
      &__button__wrap {
        margin: 0 auto 2rem auto;
      }
      &__button__wrap2 {
        margin: 0 auto;
      }
      &__button {
        @extend .sign-button;
      }
      &__button:hover {
        @extend .hover;
        background: $hovercolor-sign2;
      }
    }
  }
}