.signin-page {
  height: 81.5%;
  padding: 5.2rem 0;
  background: $bgcolor-1;
  .signin {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &__title {
      color: $color-1;
      font-weight: bold;
    }
    &-form {
      &__input {
        @extend .form;
      }
      &__button {
        @extend .button;
        margin-top: 3rem;
        background: $btncolor-1;
      }
    }
  }
}
