.signin-page {
  height: 100%;
  background: $bgcolor-1;
  .signin {
    &__title {
      margin: 0 auto 3rem auto;
      padding-top: 5rem;
      color: $color-1;
      font-weight: bold;
      font-size: 2.2rem;
      @include mq (md) {
        font-size: 2.5rem;
      }
    }
    &-form {
      &__wrap {
        margin: 0 auto;
      }
      &__input {
        @extend .sign-form;
        padding: .8rem 1.5rem;
        @include mq(md) {
          padding: 1.2rem 1.5rem;
        }
        font-size: 1.6rem;
        @include mq(md) {
          font-size: 1.8rem;
        }
      }
      &__button__wrap {
        margin: 0 auto 2rem auto;
      }
      &__button__wrap2 {
        margin: 0 auto 5rem auto;
      }
      &__button {
        @extend .sign-button;
        font-size: 1.6rem;
        @include mq(md) {
          font-size: 1.8rem;
        }
      }
      &__button:hover {
        @extend .hover;
        background: $hovercolor-sign2;
      }
    }
  }
}