.top-page {
  .menu {
    background: $bgcolor-2;
    &__button {
      border: 1px solid $color-main;
      background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100% );
      color: $color-1;
    }
    &__button:hover {

    }
  }

  .slide {
    &__button {
      top: 40%;
      height: 5rem;
    }
  }

  .guide {
    background: $bgcolor-2;
    &__column-1 {
      margin-left: 15rem;
    }
    &__column-2 {
      margin-left: 5rem;
    }
    &__title {
      font-weight: bold;
    }
    &__button {
      border: 1px solid black;
      background: white;
      color: $color-1;
    }
  }
}