.signup-page {
  height: 100%;
  background: $bgcolor-1;
  .signup {
    display: inline-block;
    width: 100%;
    margin: 10rem auto;
    text-align: center;
    &__title {
      margin-bottom: 3rem;
      color: $color-1;
      font-weight: bold;
    }
    &__list {
      margin-bottom: 3rem;
      color: $color-error;
      &__icon {
        width: 2rem;
        margin: 2rem 0 0 -6rem;
        vertical-align: -.4rem;
      }
    }
    &-form {
      &__input {
        @extend .form-sign;
      }
      &__about {
        margin-top: 4rem;
        color: $color-1;
        font-size: 1.6rem;
      }
      &__privacy {
        color: $color-1;
        font-size: 1.3rem;
      }
      &__button {
        @extend .button-sign;
      }
    }
  }
}
